
{% extends 'store/home.html' %}	
{% load static %}
{%block content%}
<style>
  .row_dashboard_top_heading{
    display: flex;
    justify-content: space-between;
    
    margin-top: 100px;
    
  }
  .row_dashboard_top_heading h3{
    font-weight: bolder;
  }
  .row_dashboard_top_heading a{
    text-decoration: underline;
  }
</style>
  
		{% include 'store/home_nav_design.html' %}
		  

     <div class="row_dashboard_top_heading">
      <h3> Top books of the BookWorm</h3>
      <a href="{% url 'show_library' %}">see more</a>
     </div> 
    {% include 'store/view_books.html' %}
    

     <div class="row_dashboard_top_heading">
      <h3> Explore Books</h3>
      <a href="{% url 'show_library' %}">see more</a>
     </div> 

    {% include 'store/books_library.html' %}
      	
	  
{%endblock%}