
{% extends 'store/home.html' %}	
{% load static %}
{%block content%}
<style>
	h3{
		color:white;
		margin-top:80px;
		font-family: 'georgia';
  		font-weight: bold;
  		text-align: center;
  		border-right: 6px solid;
  		border-left: 6px solid;
  		border-color:#ffffff;
	}
	</style>
		{% include 'store/slider.html' %}
		<h3 >  Top author of the year</h3>
	
      	{% include 'store/small_scroller.html' %}
      	<h3 >  Top Buys of the year</h3>
	  	{% include 'store/swiper.html' %}

	  	<script>
      function leftScroll() {
        const left = document.querySelector(".scroll-images");
        left.scrollBy(200, 0);
      }
      function rightScroll() {
        const right = document.querySelector(".scroll-images");
        right.scrollBy(-200, 0);
      }
</script>
{%endblock%}