{% load static%}
  
<style>
  * {
  box-sizing: border-box;
  }


  .nav {
    margin:auto;
    height: 60px;
    width: 90%;
    background-color: #F7FBFC;
    position: relative;
    justify-content: space-between
  }

  .nav > .nav-header {
    display: inline;
  }

  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #769FCD;
    padding: 10px 10px 10px 10px;
  }

  .nav > .nav-btn {
    display: none;
  }

  .nav > .nav-links {
    display: inline-flex;
    float: right;
    font-size: 18px;
  }

  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #769FCD;
  }

  .nav > .nav-links > a:hover {
    background-color: rgb(185, 215, 234);
    color:#ffffff
  }

  .nav > #nav-check {
    display: none;
  }

  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(185, 215, 234);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #769FCD;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #F7FBFC;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
</style>


<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
    BookWorm
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <a href="{% url 'home' %}" >Home</a>
    {% if request.user.is_anonymous %}
      <a href="{% url 'login' %}" >Login</a>
    {%else%}
    <a href="" >{{request.user.username}}</a>
    <a href="{% url 'view_order' %}" >order</a>
    <a href="{% url 'show_cart' %}" ><i class="fa fa-shopping-cart"></i></a>
    <a href="{% url 'logout' %}" >Logout</a>
    {% endif %}
    
  </div>
</div>