{% extends 'store/home.html' %}
{% load static %}
{% block content %}
<style>
	
.product-view .product-name{
    font-size: 28px;
}
.product-view .product-name .label-stock{
    font-size: 13.5px;
    padding: 4px 10px;
    margin-top: 9px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    float: right;
}
.product-view .product-path{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 16px;
}
.product-view .selling-price{
    font-size: 26px;
    font-weight: 600;
    margin-right: 8px;
}
.product-view .original-price{
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
}
.product-view .btn1{
    border: 0px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 14px;
    margin-top: 10px;
}

.product-view .input-quantity{
    
    margin-right: 3px;
    font-size: 12px;
    margin-top: 10px;
    width: 58px;
    text-align: center;
    color:white;
    background-color: match-parent;
    border-width: 0;

}
.button{
  border: none;
  font-size: 12px;
  padding: 8px 16px;
  background-color: #769FCD;
  color:white;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background-color:#ffffff;
  color: #769FCD;
  border:1px solid black;

}
i::before{
    background:transparent;
}
.flash_message {
  text-align: left;
  width: 50%;
  position: absolute;
  height: auto;
  padding: 1em;
  font-size: 14px;
  top: 55px;
  z-index: 1000;
  display: block;
  margin-left: 43em;
  padding-left: 10%;
 

  animation: slide-up 1.25s forwards;
  animation-delay: 2.25s;
  -webkit-animation-delay: 2.25s;
  
  p {
    margin: 0;
    padding: 0;
  }

  &.success {
    color: #fff;
    background: #769FCD;
  }
 
}


@-webkit-keyframes slide-up {
    from {transition: translateY(0);opacity: 1}
    to {transition: translateY(-150px);opacity: 0;top:0px;}
}
</style>
	<br>
	<div class="py-3 py-md-5 ">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mt-3">
                    <div>
                        <img style="height:350px;width: 280px" src="{{book.image.url}}"  alt="Img">
                    </div>
                </div>
                <div class="col-md-7 mt-3">
                    <div class="product-view">
                        <h4 class="product-name">
                            {{book.name}}
                            <label class="label-stock bg-success">In Stock</label>
                        </h4>
                        <hr>
                        <div class="mt-3" >
                            <p>
                                {{book.description}}
                            </p>
                        </div>
                        
                        <p class="product-path">
                            by {{book.author.name}}
                        </p>
                        <div>
                            <span class="selling-price">₹ {{book.price}}</span>
                        </div>
                        
                        <div class="mt-2" >
                            <div style="color:white; padding:10px;" class="input-group">
                                <span class="btn btn1">
                                    <button style="border-width: 0;background: transparent;" onclick="decrease()">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </span>
                                <input  style=" font-size:23px; background: transparent;text-align:center;
                                border-width:0; width:100px" type="value" min="1" value="1" id="quant" name="quant" readonly />
                                
                                    <span class="btn btn1">
                                        <button style="border-width: 0;background:transparent;" onclick="increase()">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                    

                                    
                            
                            </div>
                        </div>
                        <div class="mt-2">    
                            <form method="POST" action="{% url 'cart' book.id %}">
                                {% csrf_token %}
                        
                                <input type="hidden" id="book_quant" name="book_quant" value="1"/>
                                <input type="submit" class="button"  value="Add To Cart"/>
                                        
                            </form>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
                            <div>
                            {% for message in messages%}
                                <section ng-show="success_message" class="flash_message success">
                                    <p>{{message}}</p>
                                </section>
                                
                            {%endfor%}
                        </div>   

    </div>

</div>
<script>
    function increase() {
        document.getElementById("quant").value++;
        document.getElementById("book_quant").value=document.getElementById("quant").value;
    }

    function decrease() {
        if(document.getElementById("quant").value!=1){
             document.getElementById("quant").value--;
            document.getElementById("book_quant").value=document.getElementById("quant").value;
        }
    }
</script>
{%endblock%}