{% load static %}
{%block content%}

<style>

  .swiper {
    width: 100%;
    height: 450px;
  }

  .slide-card {
    /*background-color: linear-gradient(to top right, #EAC696, #EAC696);
    */
    background:transparent;
    /*box-shadow: 6px 7px 8px -7px #8a93fb;
    */margin: 0 50px;
    border-radius: 0px;
    border: 0;
    cursor: grab;
  }

  .slide-card .slide-card-img-top {
    border-radius: 5%;
    margin: 0px auto 0;
    box-shadow: 0 8px 20px -4px #C8AE7D;
    min-width: 190px;
    min-height: 250px;
    max-width: 190px;
    max-height: 250px;
  }

  .slide-card h5 {

    padding-top: 20px;
    
    font-size: 20px;
   
  }

  .slide-card h5 span {
    font-size: 10px;
  }


  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
  }
  .swiper-slide-active {
    transform: scale(1.2);
  }
  
</style>
  

	<div class="swiper">
      <div class="swiper-wrapper">
        {% for i in book %}
        <div class="swiper-slide">
          <div class="slide-card text-center">
            <img class="slide-card-img-top" src="{{i.image.url}}" alt="" />
            <div class="slide-card-body">
              <h5>
                {{i.name}} <br />
                <span>by {{i.author.name}} </span>
              	
              </h5>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev" style="color:#F3F8FF"></div>
      <div class="swiper-button-next" style="color:#F3F8FF"></div>
    </div>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper(".swiper", {
        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        // Default parameters
        slidesPerView: 1,
        loop: true,
        centeredSlides: true,
        spaceBetween: 10,
        // Responsive breakpoints
        breakpoints: {
          // when window width is >= 320px
          320: {
            slidesPerView: 1,
            spaceBetween: 20
          },
          // when window width is >= 480px
          480: {
            slidesPerView: 2,
            spaceBetween: 30
          },
          
          // when window width is >= 640px
          640: {
            slidesPerView: 3,
            spaceBetween: 30
          },
          1200: {
            slidesPerView: 4,
            spaceBetween: 10
          }
        }
      });
    </script>
{%endblock%}